
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    /* overflow: hidden; */
}

.title {
    color: white;
    position: absolute;
    font-size: 65px;
    font-weight: bolder;
    text-transform: capitalize;
    z-index: 1;
    text-shadow: black 1px 2px 1px;
    font-family: 'Life Savers', cursive, sans-serif;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

.container .box {
    position: relative;
    width: 50%;
    height: 50%;
    opacity: 0.5;
    transition: 0.5s;
    filter: grayscale(1);
    border: 4px solid black;
}

.container .box:hover {
    opacity: 1;
    filter: grayscale(0);
    cursor: pointer;
}

.container .box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .title {
        font-size: 32px;
        flex-wrap: wrap;
    }
}
