
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content h3 {
    font-size: 65px;
    text-transform: capitalize;
    user-select: none;
    text-align: center;
    color: white;
    text-shadow: black -5px 1px 1px;
}

.content input {
    outline: none;
    margin-top: 50px;
    border: black solid 5px;
    border-radius: 45px;
    font-size: 45px;
    width: 850px;
    height: 100px;
    user-select: text;
    margin-bottom: 75px;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.content input::placeholder {
    text-align: center;
    font-size: 75px;
}

.content button {
    user-select: none;
}

.create {
    cursor: pointer;
    font-weight: bolder;
    width: 250px;
    height: 65px;
    outline: none;
    font-size: 45px;
    color: white;
    border-radius: 35px;
    background: black;
}

.copy {
    margin-top: 15px;
    font-weight: bolder;
    outline: none;
    border-radius: 35px;
    text-align: center;
    color: white;
    background: black;
    cursor: pointer;
    width: 275px;
    height: 75px;
    font-size: 30px;
}

.create:hover, .copy:hover {
    background: white;
    color: black;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .content input {
        width: 335px;
    }
}
