.switch {
  position: absolute;
  bottom: 25px;
  display: inline-block;
  width: 575px;
  height: 200px;
}
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  background-image: linear-gradient(
      #aefaa7,
      #00ff22,
      #1eff00,
      #33ff00,
      #aefda7
  );
  /* background-image: linear-gradient(
    #000000,
    #5a5252,
    #585552,
    #6d6565,
    #000000
); */
}
  
.crib {
  position: absolute;
  left: -11px;
  bottom: 6px;
  transition: 0.4s;
  z-index: 100;
  overflow: hidden;
}
  
svg {
  height: 180px;
  width: 210px;
}

#Crib {
  transform-origin: center;
}
  
#Left, #Right {
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
  
input:checked + .slider .crib {
  transform: translateX(410px);
}

input:checked + .slider .crib .right {
  transform: rotate(90deg) translate(60px);
}

input:checked + .slider .crib #Left {
  transform: rotate(-90deg) translate(-70px) scale(0.8);
}

input:checked + .slider .crib #Right {
  transform: rotate(90deg) translate(70px) scale(0.8);
}
  
#Grogu {
  transform-origin: center;
  transition: 0.8s ease-in-out;
  transition-delay: 0.2s;
  transform: translatey(51px) scale(0);
  filter: brightness(130%);
}

#Robe {
  transform-origin: center;
  transition: 0.8s ease-in-out;
  transition-delay: 0s;
  transform: translatey(51px) scale(0);
}
  
input:checked + .slider .crib #Robe {
  transform: translatey(0px) scale(1);
}
  
input:checked + .slider .crib #Grogu {
  transform: translatey(10px) scale(1);
  animation: head-tilt 3s ease-in-out;
  animation-delay: 1s;
}
  
@keyframes head-tilt {
  0% {
    transform: translatey(10px) scale(1);
  }

  25% {
    transform: rotate(-3deg) translatey(0px);
  }
  
  75% {
    transform: rotate(3deg) translatey(0px);
  }

  100% {
    transform: rotate(0deg) translatey(10px);
  }
}

.cls-1,
.cls-16,
.cls-5 {
  fill: none;
}

.cls-2 {
  fill: #ff7b00;
}

.cls-3 {
  fill: #ff7b00;
  stroke: #000000;
}

.cls-10,
.cls-14,
.cls-15,
.cls-16,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-9 {
  stroke-miterlimit: 10;
}

.cls-15,
.cls-4 {
  fill: #ccc8c5;
}

.cls-15,
.cls-16,
.cls-4 {
  stroke: #000000;
}

.cls-4,
.cls-5,
.cls-6 {
  stroke-width: 4px;
}

.cls-5,
.cls-6 {
  stroke: #000000;
}

.cls-6 {
  fill: #dbd2ca;
}

.cls-7,
.cls-8 {
  fill: #5c7064;
}

.cls-7 {
  stroke: #525954;
  stroke-width: 7px;
}

.cls-9 {
  fill: #525954;
  stroke: #5c7064;
  stroke-width: 0.75px;
  opacity: 0.70;
}

.cls-10 {
  fill: #9c859e;
  stroke: #565456;
  opacity: 0.51;
}

.cls-10,
.cls-14,
.cls-15,
.cls-16 {
  stroke-width: 4px;
}

.cls-11 {
  fill: #47604b;
}

.cls-12 {
  fill: url(#radial-gradient);
}

.cls-13 {
  fill: url(#radial-gradient-2);
}

.cls-14 {
  fill: #7c6d5c;
  stroke: #6b563d;
}

.cls-17 {
  clip-path: url(#clip-path);
}