@media screen and (min-width: 300px) and (max-width: 800px) {
    .switch {
        width: 300px;
        height: 100px;
        top: 75%;
    }

    svg {
        width: 125px;
        height: 125px;
    }

    .crib {
        position: absolute;
        left: -11px;
        bottom: -10px;
        transition: 0.4s;
        z-index: 100;
        overflow: hidden;
    }

    input:checked + .slider .crib {
        transform: translateX(200px);
    }

    .way-span {
        font-size: 30px;
    }
}
