
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Mandalorian';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background: #121011; */
    background: #5ec4e0;
    flex-direction: column;
    transition: 1s;
}

.mandalorian {
    visibility: hidden;
    position: absolute;
    top: 15%;
}

.gitSupp-link {
    visibility: hidden;
    color: white;
    text-align: center;
    font-size: 27px;
    margin-top: 10%;
}

.gitSupp-link a {
    color: blue;
    text-decoration: none;
}

.gitSupp-link a:checked {
    color: blueviolet;
}

.gitSupp-link a:hover {
    text-decoration: underline;
}

.gitSupp-link a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.way-span {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    color: rgb(177, 175, 175);
    bottom: 40%;
    font-size: 35px;
    text-transform: uppercase;
}
