
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Azeret Mono', monospace, sans-serif;
}

button {
    border: none;
    outline: none;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(10deg, #100e0e 28%, rgb(0, 0, 0) 84%);
    overflow: hidden;
}

.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainbox form {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 355px;
    background: rgb(39, 37, 37);
    color: #fff;
    border-radius: 50px;
}

.mainbox form p {
    font-size: 30px;
    margin: 20px 0px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.mainbox form select, .mainbox form input {
    width: 175px;
    height: 35px;
    font-size: 25px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}

.mainbutton {
    margin-top: 25px;
    font-size: 27px;
    letter-spacing: -1px;
    text-transform: capitalize;
    font-weight: bolder;
    cursor: pointer;
    width: 225px;
    height: 75px;
    color: white;
    background: black;
    border-radius: 25px;
    border: 5px black solid;
}

.mainbutton:hover {
    background: white;
    color: black;
    /* border-color: black; */
}

.trophyIcon {
    position: absolute;
    top: 0;
    left: 50px;
    transform: translateX(-600px);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 545px;
    height: 165px;
    background: rgb(30, 30, 30);
    border-radius: 15px;
    transition: transform 1s ease-in-out;
}

.trophyIcon div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 100%;
}

.trophyIcon div p {
    margin-top: 10px;
    color: gainsboro;
}

.trophyIcon.active {
    transform: translateX(0px);
}

.trophyName {
    display: block;
    font-size: 45px;
    text-transform: capitalize;
}

.trophytypeImg {
    width: 95px;
    height: 95px;
}

.title {
    text-transform: capitalize;
    font-size: 65px;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .title {
        font-size: 50px;
    }

    body {
        overflow: hidden;
    }

    .trophyIcon {
        left: 5%;
        top: 0;
        width: 365px;
        height: 185px;
        border-radius: 5px;
        /* flex-direction: column; */
    }

    .trophyIcon.active {
        transform: translateX(-50px);
    }

    .trophytypeImg {
        margin-top: 15px;
    }

    .container {
        height: 105vh;
        background: rgb(33, 33, 210);
    }
}
