@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
    user-select: text;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b88f0;
    /* background: #2b88f0; */
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* margin: 0; */
}

.container h3 {
    color: #fff;
    /* color: white; */
    margin: 10px 0 20px;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}

.container {
    width: 500px;
}

.container textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 20px;
    color: black;
    /* font-size: 16px; */
}

.container textarea:focus {
    outline: none;
}

.tag {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight {
    background-color: #273c75;
}

.colorInput {
    position: relative;
    top: -50px;
    right: -101%;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100vw;
    }

    .colorInput {
        right: 0;
        top: 0;
    }

    #tags {
        margin-top: 25px;
    }
}