
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: var(--black-color);
}

:root {
    --heart-color: red;
    --black-color: black;
    --heart: '♥';
    --peaks: '♠';
    --clubs: '♣';
    --diam: '♦';
}

.content {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    appearance: none;
    opacity: 0;
    z-index:-1;
    position: relative;
    z-index: 999;
    outline: 0;
}

section {
    box-shadow: 0 0 0 20px rgb(92, 88, 88);
    place-content: center;
    display: grid;
    background: white;  
    position: absolute;
    width: 550px;
    height: 805px;
    border-radius: 25px;
    opacity: 0;
    transform: translateX(-50%);
    transform: translateY(50%);
    transform: scale(.6) translate(0%,0);
}

.heart, .peaks { 
    position: relative; 
    width: 100px; 
    height: 90px; 
}

.mainsuit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainsuit.heart::before { 
    content: var(--heart);
    color: var(--heart-color);
    font-size: 150px;
}

.mainsuit.peaks::before {
    content: var(--peaks);
    color: var(--black-color);
    font-size: 150px;
}

.mainsuit.clubs::before {
    content: var(--clubs);
    color: var(--black-color);
    font-size: 150px;
}

.mainsuit.diam::before {
    content: var(--diam);
    color: var(--heart-color);
    font-size: 175px;
}

.leftopsuit {
    position: absolute;
    top: 70px;
    left: 30px;
    text-align: center;
}

.leftopsuit.heart::before {
    content: var(--heart);
    color: var(--heart-color);
    font-size: 150px;
}

.leftopsuit.peaks::before {
    content: var(--peaks);
    color: var(--black-color);
    font-size: 150px;
}

.leftopsuit.clubs::before {
    content: var(--clubs);
    color: var(--black-color);
    font-size: 150px;
}

.leftopsuit.diam::before {
    content: var(--diam);
    color: var(--heart-color);
    font-size: 175px;
}

.rightbottomsuit {
    position: absolute;
    bottom: 75px;
    right: 35px;
    text-align: center;
    transform: rotate(180deg);
}

.rightbottomsuit.heart::before {
    content: var(--heart);
    color: var(--heart-color);
    font-size: 150px;
}

.rightbottomsuit.peaks::before {
    content: var(--peaks);
    color: var(--black-color);
    font-size: 150px;
}

.rightbottomsuit.clubs::before {
    content: var(--clubs);
    color: var(--black-color);
    font-size: 150px;
}

.rightbottomsuit.diam::before {
    content: var(--diam);
    color: var(--heart-color);
    font-size: 175px;
}

.leftopsuit.heart span, .leftopsuit.peaks span, .leftopsuit.clubs span, .leftopsuit.diam span {
    position: absolute;
    top: 0;
    margin-top: -35px;
    font-size: 65px;
    right: 0;
    left: 0;
    z-index: 1;
}

.leftopsuit.heart span, .leftopsuit.diam span, .rightbottomsuit.heart span, .rightbottomsuit.diam span {
    color: var(--heart-color);
}

.leftopsuit.peaks span, .leftopsuit.clubs span, .rightbottomsuit.peaks span, .rightbottomsuit.clubs span {
    color: var(--black-color);
}

.rightbottomsuit.heart span, .rightbottomsuit.peaks span, .rightbottomsuit.clubs span, .rightbottomsuit.diam span {
    position: absolute;
    top: 0;
    margin-top: -35px;
    font-size: 60px;
    right: 0;
    left: 0;
    z-index: 1;
}


.card1:not(:checked) ~ .s1,
.card2:not(:checked) ~ .s2,
.card3:not(:checked) ~ .s3,
.card4:not(:checked) ~ .s4,
.card5:not(:checked) ~ .s5,
.card6:not(:checked) ~ .s6,
.card7:not(:checked) ~ .s7,
.card8:not(:checked) ~ .s8,
.card9:not(:checked) ~ .s9,
.card10:not(:checked) ~ .s10,
.card11:not(:checked) ~ .s11,
.card12:not(:checked) ~ .s12 
{  
    animation: flippinAnim 1s ease-in-out forwards;
}

@keyframes flippinAnim{
    0% {
        opacity: 0; 
        background: white; 
        z-index: 7;
    }

    10% {
        opacity: 1;
    }

    50% {
        transform:scale(.6) rotate(2deg) translate(5%,0);
        z-index: 8;
    }

    100% {
        transform:scale(.6) translate(0%,0);
        opacity: 1;
        z-index: 5;
    }
}
  
  
@keyframes flippingAnim2 {
    0% {
        opacity: 1;
        background: white;
        z-index: 7;
    }

    50% {
        transform:scale(.6) translate(-30%,-20%) rotate(-10deg)  translate(-60%,0);
    }

    100% {
        transform:scale(.6) translate(0%,0);
        opacity: 1;
        z-index: 9;
    }
}

.card1:checked ~ .s1,
.card2:checked ~ .s2,
.card3:checked ~ .s3,
.card4:checked ~ .s4,
.card5:checked ~ .s5,
.card6:checked ~ .s6,
.card7:checked ~ .s7,
.card8:checked ~ .s8,
.card9:checked ~ .s9,
.card10:checked ~ .s10,
.card11:checked ~ .s11,
.card12:checked ~ .s12 {
    background: white;
    z-index: 1;
    transform:  scale(.6) translate(0%,0);
    animation: flippingAnim2 1s ease-in-out forwards;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    section {
        width: 450px;
        height: 700px;
    }
}