
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

button {
    outline: none;
}

.demo {
    height: 100vh;
    width: 100%;
}

.demo model-viewer {
    width: 100%;
    height: 100%;
    /* text-align: center; */
}

.btn-container {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    /* display: flex; */
    /* justify-content: center; */
}

.demo .btn-container button {
    border: none;
    background: #edda73;
    border-radius: 15px;
    border-color: transparent;
    height: 40px;
    width: 150px;
    margin: 5px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    flex-wrap: wrap;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .btn-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        flex-wrap: wrap;
    }
}