@media screen and (min-width: 300px) and (max-width: 800px)  {
    .mainlist {
        flex-direction: column;
        align-items: center;
    }

    .mainlist li {
        margin: 20px 0px;
    }

    .randomColorsBtn {
        width: 250px;
        height: 75px;
        font-size: 30px;
    }
}