
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #091921; */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #e91e63,#e91e63 50%, 
    #ffc107 50%, #ffc107);
}

body::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg, #03a9f4,#03a9f4 50%, 
    transparent 50%, transparent);
    animation: animateMove 5s ease-in-out infinite;
}

@keyframes animateMove {
    0%, 100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.container {
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    bottom: -135px;
    width: 100%;
    height: 60px;
    /* border-radius: 50%; */
    background: radial-gradient(rgba(0,0,0,0.5),transparent,transparent);
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 400px;
    height: 400px;
    backdrop-filter: blur(25px);
    border-radius: 50%;
    border: 1px solid rgba(255,255,255);
    animation: animateMove 5s ease-in-out infinite;
    animation-delay: -2.5s;
}

.clock {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    /* width: 350px;
    height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.5);
    border-bottom: none;
    border-right: none;
    border-radius: 50%;
    background: radial-gradient(transparent,rgba(255,255,255,0.2)), url(img/clockNew.png);
    background-size: cover;
    box-shadow: -10px -10px 20px rgba(255,255,255,0.1),
    10px 10px 20px rgba(0,0,0,0.1),
    0px 40px 50px rgba(0,0,0,0.2);
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 1000;
}

.clock .hour, .clock .min, .clock .seconds {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .seconds, .sec {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sec {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: rgb(189, 15, 15);
    z-index: 10;
    border-radius: 6px 6px 0 6px;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: white;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sec::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    z-index: 12;
    background: white;
    border-radius: 6px 6px 0 0;
}

@media screen and (min-width: 300px) and (max-width: 800px){
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container::before {
        content: '';
        bottom: 0;
        background: none;
    }    

    .box {
        backdrop-filter: blur(2px);
        animation: none;
        width: 350px;
        height: 350px;
    }

    body {
        background: #e91e63;
    }
}
