
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06181f;
    transition: 2s;
}

.container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container .icon {
    width: 275px;
    cursor: default;
    text-align: center;
    margin: 0px 25px;
    /* cursor: pointer; */
}

.container .icon path {
    fill: transparent;
    stroke: #31e8ff;
    stroke-width: 10;
}

.title {
    visibility: hidden;
    font-family: 'Akaya Kanadaka', cursive, sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
}

.container .icon.unicorn path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.container .icon.unicorn:hover path {
    animation: animate-unicorn 2s linear forwards;
}

@keyframes animate-unicorn {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 1560;
    }

    80% {
        stroke-dashoffset: 3120;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3120;
        fill: black;
        stroke: yellow;
    }
}

.container .icon.sun path {
    stroke-dasharray: 1810;
    stroke-dashoffset: 0;
}

.container .icon.sun:hover path {
    animation: animate-sun 2s linear forwards;
}

@keyframes animate-sun {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 1810;
    }

    80% {
        stroke-dashoffset: 3620;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3620;
        fill: #e6ff05;
        stroke: #eeff05;
    }
}

.container .icon.eagle path {
    stroke-dasharray: 250;
    stroke-dashoffset: 0;
    stroke: rgb(10, 255, 243);
}

.container .icon.eagle:hover path {
    animation: animate-eagle 2s linear forwards;
}

@keyframes animate-eagle {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 250;
    }

    80% {
        stroke-dashoffset: 500;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 500;
        fill: white;
        stroke: black;
    }
}

.container .icon.drakkar path {
    stroke-dasharray: 2560;
    stroke-dashoffset: 0;
}

.container .icon.drakkar {
    transform: translateX(-50%);
}

.icon.drakkar {
    margin: 0 125px;
}

#title4 {
    position: absolute;
    bottom: 0;
    transform: translateX(50%);
}

.container .icon.drakkar:hover path {
    animation: animate-drakkar 2s linear forwards;
}

@keyframes animate-drakkar {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 1560;
    }

    80% {
        stroke-dashoffset: 2560;
    }

    100% {
        stroke-dashoffset: 2560;
        fill: white;
    }
}

.container .icon.helmet path {
    stroke-dasharray: 3680;
    stroke-dashoffset: 0;
}

.container .icon.helmet:hover path {
    animation: animate-helmet 2s linear forwards;
}

@keyframes animate-helmet {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 1560;
    }

    80% {
        stroke-dashoffset: 2560;
    }

    100% {
        stroke-dashoffset: 3680;
        fill: white;
        stroke: yellow;
    }
}

.container .icon.axes path {
    stroke-dasharray: 4000;
    stroke-dashoffset: 0;
}

.container .icon.axes svg {
    width: 312px;
    height: 312px;
}

.container .icon.axes:hover path {
    animation: animate-axes 1s ease-in-out forwards;
}

#title6 {
    margin-top: 20px;
    color: white;
}

@keyframes animate-axes {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 1560;
    }

    80% {
        stroke-dashoffset: 2560;
    }

    100% {
        stroke-dashoffset: 4000;
        fill: white;
        stroke: rgb(0, 0, 0);
    }
}

.container .icon.fish svg {
    width: 350px;
    height: 350px;
}

.container .icon.fish:hover path {
    animation: animate-fish 1s linear forwards;
}

#title7 {
    margin-top: 10px;
    color: white;
}

@keyframes animate-fish {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 1560;
    }

    80% {
        stroke-dashoffset: 2560;
    }

    100% {
        stroke-dashoffset: 4000;
        fill: blue;
        stroke: black;
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .container {
        width: 100%;
        margin-top: 40px;
        flex-direction: column;
        overflow: hidden;
    }

    .icon.drakkar {
        margin: 55px 0px;
    }

    .container .icon.helmet svg {
        width: 350px;
        height: 350px;
    }

    .container .icon {
        width: 275px;
        cursor: default;
        text-align: center;
        margin: 0px 25px;
        /* cursor: pointer; */
    }
}
