@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgba(247, 247, 247, 1) 23.8%,rgba(252, 221, 221, 1) 92%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  font-size: 45px;
  letter-spacing: 5px;
  text-transform: capitalize;
}

.music-container {
  border-radius: 15px;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
}

.music-container::before {
	content: '';
	background-color: #fff;
  border-radius: 15px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  position: absolute;
  z-index: 1;
  /* background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px; гоша */
}

.music-container.summer::before {
  content: '';
	background-color: #fff;
  border-radius: 15px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  box-shadow: 0 20px 20px 0 rgba(30, 250, 202, 0.6);
  position: absolute;
  z-index: 1;
}

.music-container.hey::before {
  content: '';
	background-color: #fff;
  border-radius: 15px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  box-shadow: 0 20px 20px 0 rgba(250, 7, 7, 0.6);
  position: absolute;
  z-index: 1;
}

.music-container.rock::before {
  content: '';
	background-color: #fff;
  border-radius: 15px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  box-shadow: 0 20px 20px 0 rgb(9, 9, 197);
  position: absolute;
  z-index: 1;
}

.music-container.phoenix::before {
  content: '';
	background-color: #fff;
  border-radius: 15px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  box-shadow: 0 20px 20px 0 rgb(224, 113, 9);
  position: absolute;
  z-index: 1;
}

.music-container.tom::before {
  content: '';
	background-color: #fff;
  border-radius: 15px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  box-shadow: 0 20px 20px 0 rgb(248, 224, 12);
  position: absolute;
  z-index: 1;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
	z-index: 2;
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
	z-index: 2;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

#title {
  text-transform: capitalize;
  font-size: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 10px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 20px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.time-info {
	display: flex;
	justify-content: space-between;
	margin-top: -5px;
	font-size: 10px;
	font-weight: 600;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  h1 {
    font-size: 50px;
    white-space: nowrap;
    font-weight: bolder;
    letter-spacing: 0px;
  }

  .music-container {
    padding: 20px 1px;
  }
}
