
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    /* font-weight: bolder; */
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #070805;
}

.box div {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    font-size: 45px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-bottom: 100px;
}

/* .box a:hover {
    background: black;
    color: #050801;
    box-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 200px red;
     -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
} */

.box div span {
    position: absolute;
    display: block;
}

.box div span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

/* a:nth-child(1) {
    filter: hue-rotate(270deg);
} */

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.box div span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.box div span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.box div span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.box input {
    outline: none;
    /* border: none; */
    margin-bottom: 50px;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .box div {
        padding: 15px 5px;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 50px;
        letter-spacing: 10px;
    }
}
