@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rebeccapurple;
}

#guitar {
    width: 550px;
    height: 550px;
}

.colorsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.colorsForm div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0px 40px;
}

.colorsForm div p {
    font-family: 'Pushster', cursive;
    font-size: 3em;
    color: #fff;
    text-shadow: black -3px 2px 1px;
}