@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.box {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    /* scroll-behavior: smooth; */
    scroll-snap-type: y mandatory;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    scroll-snap-align: center;
}

section .content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 700px;
}

section .content h2 {
    background: white;
    color: #111;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2em;
}

section .content p {
    background: white;
    color: #111;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 10px;
}

section:nth-child(1) {
    background: url(images/bg1.jpg) red;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section:nth-child(2) {
    background: url(images/bg2.jpg) #0f0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

section:nth-child(3) {
    background: url(images/bg3.jpg) #ff0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

section:nth-child(4) {
    background: url(images/bg4.jpg) #f436ee;
    background-position: center;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-blend-mode: multiply !important;
}

section:nth-child(5) {
    background: url(images/bg5.jpg) #00f;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

section:nth-child(6) {
    background: url(images/bg6.jpg) #ff9800;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

section:nth-child(7) {
    background: url(images/bg7.jpg) #0f0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

section:nth-child(8) {
    background: url(images/bg8.jpg) rgb(0, 255, 251);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    section {
        overflow: hidden;
    }

    section:nth-child(4) {
        background: url(images/bg4.jpg) #f436ee;
        background-position: right;
    }
}
