
@media screen and (min-width: 300px) and (max-width: 800px) {
    .planet {
        width: 300px;
        height: 300px;
        left: -5%;
    }

    .title-planet {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 17%;
        letter-spacing: 2px;
        font-size: 55px;
    }

    .buttons-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 50px;
        z-index: 100;
    }

    .buttons-list li {
        margin: 15px 0px;
    }

    .buttons-list li:nth-child(3) {
        display: none;
    }

    .resizePlanetInput::placeholder {
        color: black;
    }
}
