
* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border-radius: 100px; */
}

button, input {
    outline: none;
    border-color: transparent;
    cursor: pointer;
    text-align: center;
    background: white;
    color: black;
    text-transform: capitalize;
}

.content {
    position: relative;
    height: 100vh;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.content i {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: starsSpawn linear infinite;
    z-index: 1;
}

/* planet */

.planet {
    position: relative;
    left: 15%;
    width: 395px;
    height: 395px;
    background-image: url("https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    border-radius: 50%;
    background-size: cover;
    box-shadow: -80px -20px 70px 2px rgb(29, 28, 28) inset, 3px 0 20px rgba(206, 182, 138, 0.555);
    animation: spin linear 5s reverse infinite;
    transform: rotate(30deg);
    animation-duration: 1s;
    z-index: 100;
    /* filter: hue-rotate(0deg); */
    /* backface-visibility: visible; */
}

.title-planet {
    position: fixed;
    cursor: pointer;
    top: 10%;
    left: 70%;
    letter-spacing: 5px;
    color: white;
    font-size: 55px;
    flex-wrap: wrap;
    /* transform: rotate(-30deg); */
    text-transform: capitalize;
    font-family: 'Londrina Solid', cursive;
}

.buttons-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    bottom: 75px;
    width: 100%;
    height: 85px;
    list-style: none;
}

.buttons-list li {
    margin: 0px 25px;
}

.renameButton, .repaintButton, .renameButton-2, .resizePlanetInput, .rotationPlanet {
    width: 175px;
    height: 75px;
    font-size: 30px;
    border-radius: 15px;
    z-index: 2;
}

.renameButton-2 {
    font-size: 27px;
    width: 195px;
}

.resizePlanetInput, .rotationPlanet {
    font-size: 25px;
}

@keyframes spin {
    100% {
        background-position: 100%;
    }
}

@keyframes starsSpawn {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
    10%,90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .planet {
        width: 300px;
        height: 300px;
        left: -5%;
    }

    .title-planet {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 17%;
        letter-spacing: 2px;
        font-size: 55px;
    }

    .buttons-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 50px;
        z-index: 100;
    }

    .buttons-list li {
        margin: 15px 0px;
    }

    .buttons-list li:nth-child(3) {
        display: none;
    }

    .resizePlanetInput::placeholder {
        color: black;
    }
}
