
@media screen and (min-width: 300px) and (max-width: 800px) {
    .changesList {
        flex-direction: column;
        right: 0;
        bottom: 0;
    }

    .main-dial {
        left: -100px;
    }
}