
* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scroll-behavior: smooth;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
    background-blend-mode: multiply;
    transition: 1s;
}

section:nth-child(1) {
    background: #f00 url(img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section:nth-child(2) {
    background: #0f0 url(img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section:nth-child(3) {
    background: #ff0 url(img/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section:nth-child(4) {
    background: #0ff url(img/bg4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section:nth-child(5) {
    background: #00f url(img/bg5.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section .content {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 100%;
}

section .content h2 {
    background: transparent;
    position: absolute;
    top: 8px;
    color: #111;
    font-weight: 600;
    display: inline-block;
    padding: -10px 200px;
    font-size: 45px;
    transition: 0.5s;
}

section .content h2:hover {
    cursor: pointer;
    font-size: 55px;
    transition: 1s;
}

section .content p {
    background: transparent;
    color: rgba(17, 17, 17, 0.877);
    font-weight: 300;
    width: 100%;
    font-size: 20px;
    /* padding: 10px 20px; */
    margin-top: 100px;
}

section .content p:hover {
    cursor: pointer;
}

section .content p.active {
    color: white;
}