.albums {
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    /* grid-template-columns: 3fr 300px 400px 300px; */
    /* grid-template-columns: repeat(3,400px); */
    /* grid-template-columns: repeat(auto-fit,400px); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-columns: repeat(auto-fit,minmax(300px,2fr)); */
    /* grid-template-columns: repeat(auto-fit,minmax(800px,1fr)); */
    grid-gap: 20px;
}

.album {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
    background: rgb(25, 224, 75);
    box-shadow: 0px 0px 15px rgb(16, 234, 49);
    font-size: 15px;
    padding: 20px;
    align-items: center;
}

@media all and (max-width: 640px) {
    .albums {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .album {
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
        padding: 10px;
        box-shadow: none;
    }

    .hidden {
        display: none;
    }
}

@media all and(max-width: 380px) {
    .album {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        padding: 5px;
        box-shadow: none;
    }
}
