
* {
    user-select: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.album_artwork {
    width: 100%;
}

body {
    /* background: linear-gradient(110deg,#f93d66,); */
    /* background: rgb(203,38,38); */
    background: linear-gradient(0deg, rgb(48, 248, 7) 50%, rgb(0, 0, 0) 75%);
}

a {
    text-decoration: none;
    color: black;
}

.album_desc, .album_artist {
    cursor: default;
}

.album_desc {
    cursor: default;
    user-select: none;
}

.album_details h2 {
    cursor: default;
    color: black;
}

.album_details h2:hover {
    cursor: pointer;
    color: white;
}

/* @media screen and (min-width: 300px) and (max-width: 800px) {

} */
