
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    padding: 20px;
    width: 100%;
    /* width: 1280px; */
    margin: 40px auto;
}

.container ul {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.container ul li {
    list-style: none;
    background: #eee;
    border-radius: 10px;
    color: black;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.container ul li.active {
    background: #03a9f4;
    color: white;
}

.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product .itemBox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
    overflow: hidden;
}

.product .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.product .itemBox.active {
    transition: all 0.5s ease;
    visibility: visible;
}

.product .itemBox.delete {
    transition: all 0.5s ease;
    margin: 0;
    width: 0;
    visibility: hidden;
}

.countTittle {
    display: none;
    justify-content: center;
    visibility: hidden;
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width: 600px) {
    .container ul {
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width: 600px) {
    .container ul {
        align-items: center;
        flex-wrap: wrap;
    }
}