
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #64cfff;
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 40px;
    background: #e3f2fd;
    border-radius: 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.container h3 {
    font-size: 35px;
    /* font-size: 16px; */
    /* font-size: 2em; */
    margin-bottom: 10px;
    color: #333;
}

.container textarea {
    position: relative;
    margin-bottom: 20px;
    resize: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    height: 200px;
    font-size: 18px;
    border: none;
}

.container p {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333;
}

.container .count {
    font-size: 24px;
    color: #f00 !important;
    /* color: #ff0; */
    margin-left: 10px;
    font-weight: 500;
    /* font-weight: 600; */
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .container h3 {
        font-size: 32px;
    }

    .container textarea {
        text-align: left;
        font-size: 25px;
    }

    .container p {
        font-size: 30px;
    }

    .container .count {
        font-size: 30px;
    }
}